<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask image get</title>
</head>
<body>    
    <br>
    <h1 align="center">Crawl the Image</h1>
    <br>
    <form method="POST" action="/crawl">
        <div align="center">
            <h2 align="center">Prompt</h2>
            <input type="text" id="prompt" name="prompt" >
        </div>
    </form>
    <br>
 
</body>
</html>